*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}


header { 
    position: relative;
}

.titulo {
    background-image: url(../assets/imagenes/design1_image2.jpg);
    height: 40vh;
    width: 100vw;
    background-size: cover;
    background-position: 0px -100px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

h1 { 
font-size: 65px;
}

#logo {
    position: absolute;
    height: 150px;
    width: 150px;
    top: 1px;
    left: 10px;
    
}

#fondo2 {   

top: 23px;
width: 1300px;
height: 400px;
}

.subtitulo {
    /* background: radial-gradient(rgb(4, 95, 4), white); */
    background: linear-gradient(90deg, green, white);
    color: rgb(53, 53, 19);
    display: flex;
    justify-content: center;
    align-items: center;
}


.navvar {
    background: linear-gradient(90deg, green, white);
    display: flex;
    padding: 10px;
    justify-content: space-around;
    top: 2px;
}
body {
    overflow-x: hidden;
background-color:  rgb(239, 239, 46);
}

nav a {
text-decoration: none;
color:black;
font-size: 60px;
}

main { display: flex;
    background-color: rgb(239, 239, 46);
    justify-content: space-evenly;
    align-items: center;
    margin-top: 2rem;
}

a[href="#"]{
    color: yellow;
}

a:hover {
color: yellow;
cursor: pointer;
}

section{
    font-size: 25px;
    padding: 17px;
}
#imagen1 {
    margin-bottom: 10px;
    display: flex;
    height: 300px;
    width: 300px;
    border-radius: 200px;
    }
#imagen2 {
    margin-bottom: 100px;
    display: flex;
    height: 300px;
    width: 300px;
    border-radius: 200px;
}
#imagen3 {
    margin-left: 10px;
    display: flex;
    height: 300px;
    width: 300px;
    border-radius: 200px;
}

