*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}


header { 
    position: relative;
}

/* .titulo {
    height: 40vh;
    width: 100vw;
    background-position: 0px -100px;
    
    
} */

.bg-titulo {
    height: 40vh;
    width: 100vw;
    background-image: url(../assets/imagenes/design1_image2.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items:flex-end;
    background-position: 0px -100px;
}

h1 { 
font-size: 5vw;
}

#logo {
    position: absolute;
    height: 150px;
    width: 150px;
    top: 1px;
    left: 10px;
    
}

#fondo2 {   

top: 23px;
width: 1300px;
height: 400px;
}

.subtitulo {
    /* background: radial-gradient(rgb(4, 95, 4), white); */
    background: linear-gradient(90deg, green, white);
    color: rgb(53, 53, 19);
    display: flex;
    justify-content: center;
    align-items: center;
}


    nav {
    background: linear-gradient(90deg, green, white);
    display: flex;
    padding: 10px;
    justify-content: space-around;
    top: 2px;
}
body {
    overflow-x: hidden;
background-color:  rgb(239, 239, 46);
}

nav a {
text-decoration: none;
color:black;
font-size: 30px;
}

main { display: flex;
    flex-wrap: wrap;
    background-color: rgb(239, 239, 46);
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.articulo {
margin-left: 30px;}

a:hover {
color: yellow;
cursor: pointer;
}

section{
    max-width: 50vw;
    font-size: 25px;
    padding: 17px;
}
#imagen1 {
    margin-bottom: 10px;
    display: flex;
    height: 300px;
    width: 300px;
    border-radius: 200px;
    }
#imagen2 {
    margin-bottom: 100px;
    display: flex;
    height: 300px;
    width: 300px;
    border-radius: 200px;
}
#imagen3 {
    margin-left: 10px;
    display: flex;
    height: 300px;
    width: 300px;
    border-radius: 200px;
}

.rulestitulo{
display: flex;
align-items: center;
justify-content: center;
padding-bottom: 40px;
}

table{
height: 30vw;
width: 70vw;
text-align: center;
border: 5px solid  green;
background: radial-gradient(rgb(4, 95, 4), white);
border-radius: 20px;
border-spacing: 0;
}

th, td {
    font-size: 25px;
    border-bottom: 2px black solid;
}
tr:nth-child(even) :hover{ 
    yellow    
}

.schedule{
font-size: 40px;
}

.textostabla {
padding: 10px;
}

.textotabla {
padding: 10px
}

.mailynumero{
display: flex;
justify-content: space-around;
margin-bottom: 5px;}

.listabc {
list-style: lower-latin;
}

/* mediaquery */
@media screen and (max-width:1030px) { 
    #logo {  
        display: none;
    }
}

@media screen and (max-width:760px) {
    nav {
    flex-direction: column;
    justify-content: center;
    align-items: center;
        }
    }

@media screen and (max-width:760px) {
    nav a {
    font-size: 55px;
}    
}

@media screen and (max-width:1030px) {
    .bg-titulo {
        background-position: 0px -75px;
    }
}


@media screen and (max-width:950px) {
    .bg-titulo {
        background-position: 0px -65px;
    }
}

@media screen and (max-width:825px) {
    .bg-titulo {
        background-position: top;
    }
}

@media screen and (max-width:440px) {
    table {
    scale: 0.8;
    }
    
}

/* mediaquery */

footer { display: flex;
    flex-wrap: wrap;
    background-color: rgb(239, 239, 46);
    justify-content: space-evenly;
    align-items: center;
    margin-top: 2rem;
}


.mapa{
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    margin-top: 2rem;
    justify-content: center;
}

.mapa2{
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    margin-top: 2rem;
    justify-content: center;
}

.botonenviar{
display: flex;
justify-content: center;
margin-top: 10px;
margin-bottom: 15px;
}

legend {
font-size: 30px;
}

fieldset{
padding: 10px;
margin: 1px 20px 1px 20px;
}

