*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header { margin: 50px 50px;
    position: relative;
}

h1 {display: inline-block;  
position: absolute;
margin-top: 20px;
padding-left: 75px;
font-size: 65px;
}

#logo { display: inline-block;
    position: absolute;
    height: 150px;
    width: 150px;
    top: 300px;
    right: 150px;
    
}

#fondo {    
width: 1300px;
height: 400px;
}

h2 {
    color: white;
    background-color: black;
    position: absolute;
    bottom: 10px;
    right: 600px;
    font-size: 20px;
}


main { position: relative;
    margin: 50px 50px;
}


nav a {
display: block;
padding: 10px;
font-size: 30px;
}

.art1 {
position: absolute;
left: 250px;
top: 12px;}

.art2 {
position: absolute;
left: 250px;
top: 70px;
padding-top: 3px;
}

.art3{
position: absolute;
left: 250px;
top: 125px;
}

#art1 {
position: absolute;
left: 200px;
top: 15px;}

#art1 p {
padding: 7px;}




#imagen1 {
    display: none;
    }
#imagen2 {
display: none;
}
#imagen3{
display: none;
}

#fondo2 {
display: none;}
